body {
    background-color: #FDA0AA;
}

.first-meet img {
position: absolute;
left: 8.36%;
right: 88.98%;
top: 7.63%;
bottom: 89.67%;

}
.first-meet h2 {
position: absolute;
left: 13.44%;
right: 56.95%;
top: 15px;
bottom: 85.84%;
font-family: "Ubuntu", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;
color: white;
}

.image-first img {
position: absolute;
left: 9.69%;
right: 54.77%;
top: 120px;
bottom: 68.2%;
size: 30px;
}

.image-first iframe {
position: absolute;
left: 50.16%;
right: 7.58%;
top: 20%;
bottom: 68.2%;

}

.first-date img {
position: absolute;
left: 9.69%;
right: 55.78%;
top: 70%;
bottom: 35.05%;
}

.first-date h2 {
position: absolute;
left: 14.61%;
right: 55.78%;
top: 64%;
bottom: 57.71%;
font-family: "Ubuntu", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;
color: white;
}

.image-date img {
    position: absolute;
left: 9.69%;
right: 55.78%;
top: 80%;
bottom: 35.05%;

}

.image-date iframe {
position: absolute;
left: 50.16%;
right: 7.58%;
top: 80%;
bottom: 35.05%;

}
.favorite-photo h2 {
    text-align: center;
    position: absolute;
    left: 18.28%;
    right: 18.28%;
    top: 140%;
    bottom: 28.29%;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    color: white;
}

.gdrive-folder a {
    position: absolute;
    width: 200px;
    height: 84px;
    left: 515px;
    top: 1100px;
    background: #FCE7E9;
    border-radius: 20px;
    text-align: center;
    margin: 30px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    transition: 300ms;
    padding-top: 40px;
    }

    .gdrive-folder a:hover {
        transform: translateY(-10px);
    }

    .text-harapan p {
    position: absolute;
    left: 23.36%;
    right: 13.2%;
    top: 180%;
    bottom: 5.3%;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 55px;
    }

    .text-harapan h2 {
        position: absolute;
    left: 23.36%;
    right: 13.2%;
    top: 210%;
    bottom: 5.3%;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 55px;
    padding-bottom: 100px;
    }